[submodule "externals/zf2"]
	path = externals/zf2
	url = https://github.com/zendframework/zf2.git
[submodule "externals/zendframework2"]
	path = externals/zendframework2
	url = https://github.com/zendframework/zf2.git
